<table>
<tr>
<td>

<div class='menu-light'>
<%= link_to 'Home', root_path %> |
<%= link_to 'Show', @target %> |
<%= link_to 'Back', targets_path %>

</div>

<%= render 'form' %>
</td>
</tr>
</table>


